.bookContainerStyle  {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 100%;
  padding: 2%;
  }

.bookInfoStyle {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 3em;
  color: black;
  background-color: rgba(185, 122, 56, 0.88);
  margin-block: 2%;
  padding: 2%;
  width: 100%;
  height: 60%;
  justify-content: space-between;
  border-radius: 4px;
}

.bookInfoStyle img :hover {
 width: 500px;

}

.buttonStyle {
  width: 20%;
  border: none;
  border-radius: 5px;
  background-color: #000;
  color: white;
  font-weight: bolder;
  font-size: 18px;
  margin: 2% auto;
  padding: 2%;
}

.inputStyles .formContainer {
      width: 400px;
      margin: 0 auto;
  }
 .inputStyles .container {
  width:800px;
  height:500px;
  background-color:#ccffff;
  margin:20px auto 0;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  }

  .inputStyles .title {
      font-size: 16px;
      text-align: left;
  }
  
  .inputStyles .input {
      padding: 10px;
      border-radius: 5px;
      font-size: 16px;
  }

.booksContainer {
  display: flex;
  margin: 1%;
  flex-flow: row wrap
 }

.containervw {
  display: flex;
  justify-content: space-between;
  color: black;
  margin: auto;
  justify-content: space-around;
  background-color:#d0b261cd;
  box-shadow: 0em 0em 1em 1em rgb(230, 143, 81);
  margin-top: 1%;
  padding: 2%;
}

.detalvw {
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
}

.formContainerC{
width:80%;
background-color:#d0b261cd;
margin:20px auto 0;
display:flex;
flex-direction: column;
border-radius: 2%;
padding: 2%;
box-shadow: 0em 0em 1em 1em ;
}